.header {
    background-color: blue;
    text-align: center;
}

h1 {
    color: white;
}

h2 {
    background-color: aqua;
    text-align: center;

}

#date-items {
    display: flex;
    gap: 10px;
}

#text-output {
    font-weight: bold;
    color: blueviolet;
}

.lists {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.lists li{
    display: flex;
    justify-content: flex-start;
    column-gap: 10px
}